%card,
.card {
    background-color: color-var(--global__colors__white);
    padding: var(--global__sizing__layout-spacing--default);
    //border: 1px solid #eee;
    border-radius: 1em;
    transition: all 0.25s ease-in-out;
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;

    .heading {
        display: flex;
        align-items: center;
    }

    .icon {
        margin-right: 5px;
        svg {
            height: .9em;
            width: .9em;
        }
    }

    .icon-use {
        color: color-var(--global__colors__black);
    }
}
