.content-row-inner {
    &--inline {
        .content-column-inner {
            display: flex;

            &.content-column-inner--align-center {
                justify-content: center;
            }

            > * {
                margin-right: var(--global__sizing__text-spacing--half);
                margin-left: var(--global__sizing__text-spacing--half);

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
