.content-slider {
    z-index: 0;
}

.owl-carousel {
    .owl-nav {
        display: none;
    }
    .owl-dots {
        background-color: color-var(--global__colors__gray-light);
        padding: var(--global__sizing__layout-spacing--half);
        button.owl-dot.active span {
            background-color: color-var(--global__colors__primary);
        }
    }
}
