.content-section {
    &--primary.content-section--has-bg {
        background-color: color-var(--global__colors__primary);
    }
    &--has-bg {
        .button {
            &:hover {
                background-color: transparent;
                border-color: color-var(--global__colors__white);
            }
        }
        .service-card {
            &:hover {
                background-color: color-var(--global__colors__gray-light);
                border-color: color-var(--global__colors__white);
            }
        }
    }
}
