.custom-form {
    display: flex;
    flex-flow: row wrap;
    &__title {
        width: 100%;
    }
    &__field {
        text-align: left;
        margin-top: 0;
        margin-bottom: var(--global__sizing__layout-spacing--default);
        flex-basis: 100%;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
        &:not(.custom-form__field--full-width) {
            @include media-breakpoint-up(sm) {
                float: left;
                margin-left: var(--global__sizing__layout-spacing--half);
                margin-right: var(--global__sizing__layout-spacing--half);
                flex-basis: calc(50% - var(--global__sizing__layout-spacing--half));
                width: calc(50% - var(--global__sizing__layout-spacing--half));

                &:nth-child(even) {
                    margin-left: 0;
                }

                &:nth-child(odd) {
                    margin-right: 0;
                }
            }
        }
    }
    input {
        color: color-var(--global__colors__gray-medium);
        &::placeholder {
            color: color-var(--global__colors__gray-medium);
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: color-var(--global__colors__gray-medium);
        }

        &::-ms-input-placeholder {
            color: color-var(--global__colors__gray-medium);
        }
    }
    select,
    textarea {
        color: color-var(--global__colors__gray-medium);
    }
    &__submit {
        border: 1px solid color-var(--global__colors__primary);
        color: color-var(--global__colors__white);
    }
    &__checkbox-container {
        display: flex;
        flex-flow: column nowrap;
        > label {
            &:last-child {
                margin-bottom: 0;
            }
        }
        @include media-breakpoint-up(sm) {
            flex-flow: row wrap;
            > label {
                flex-basis: calc(50% - var(--global__sizing__layout-spacing--half));
                width: calc(50% - var(--global__sizing__layout-spacing--half));
            }
        }
    }
}
