.footer-nav {
    padding-top: var(--global__sizing__layout-spacing--double);
    padding-bottom: var(--global__sizing__layout-spacing--double);

    @include media-breakpoint-down(xs) {
        text-align: center;
    }
    &__column {
        &:first-child {
            > * {
                margin-bottom: var(--global__sizing__layout-spacing--half);

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .column-text {
            > * {
                margin-bottom: var(--global__sizing__text-spaing--half);
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            &:not(:last-child) {
                margin-bottom: var(--global__sizing__layout-spacing--default);
            }
        }
    }
    &__menu {
        margin-bottom: var(--global__sizing__text-spacing--default);
        .nav-menu {
            &__list {
                @extend %list--inline;
            }
            &__item a {
                color: color-var(--global__colors__gray-medium);
                padding: 0;

                &:hover {
                    color: color-var(--global__colors__gray-darker);
                }
            }
        }
    }
    .social-icons {
        margin-bottom: var(--global__sizing__text-spacing--default);
    }
    &__nasp {
        max-width: 100px;
    }
}
