.header-nav {
    display: block;
    color: color-var(--global__colors__white);
    background-color: transparent;
    z-index: 1;
    font-size: $font-size-small;
    &.sticky-header--sticky {
        background-color: color-var(--global__colors__gray-darker, .9);
    }
    &__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--global__sizing__layout-spacing--half) 0;
        border-bottom: 1px solid color-var(--global__colors__gray-light);
        > * {
            margin: 0;
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    &__list {
        a {
            color: color-var(--global__colors__white);
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--global__sizing__text-spacing--half) 0;
        @include media-breakpoint-up(md) {
            padding: var(--global__sizing__layout-spacing--half) 0;
        }
    }
    &__brand {
        flex: unset;
        padding: 0;
    }
    &__brand-link {
        padding: var(--global__sizing__text-spacing--half) 0;
        display: inline-flex;
        align-items: center;

        &:hover {
            text-decoration: none;
            > .heading {
                color: color-var(--global__colors__white);
            }
        }

        > .heading {
            color: color-var(--global__colors__white);
            font-size: 16px;
        }
    }
    &__brand-image {
        max-width: 50px;
        margin-right: var(--global__sizing__text-spacing--default);
    }
    &__menu {
        flex-basis: unset;
        padding: 0;
        @include media-breakpoint-up(md) {
            margin-right: calc(var(--global__sizing__text-spacing--default) * -1);
        }

        .nav-menu {
            &__item a {
                &:hover {
                    color: color-var(--global__colors__primary);
                }
            }
        }
    }
    &__social-container {
        display: flex;
        align-items: center;
        > * {
            margin-right: var(--global__sizing__layout-spacing--half);
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__portal-link {
        display: flex;
        align-items: center;
        color: white;

        &:hover {
            text-decoration: none;
        }

        .icon {
            margin-right: 5px;
        }
    }
}
