.image-card {
    border-radius: 1em;

    &:hover {
        .image-card__overlay {
            opacity: 1;
            visibility: visible;
        }
    }

    &__image {
        width: 100%;
    }
    &__overlay {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
        background-color: color-var(--global__colors__gray-darker, .75);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 1em;
        position: absolute;
        top: 0;
        bottom: 0;
        left: var(--global__sizing__layout-spacing--half);
        right: var(--global__sizing__layout-spacing--half);
        padding: var(--global__sizing__layout-spacing--default);

        @include media-breakpoint-up(md) {
            border: 1px solid color-var(--global__colors__primary);
            top: var(--global__sizing__layout-spacing--half);
            bottom: var(--global__sizing__layout-spacing--half);
            left: var(--global__sizing__layout-spacing--default);
            right: var(--global__sizing__layout-spacing--default);
        }
    }
    &__hr {
        width: 50%;
        margin-bottom: var(--global__sizing__layout-spacing--default);
        background-color: rgba(var(--global__colors__primary),1);
        height: 1px;
        border: none;
        transition: width .25s ease-in-out;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    &__link {
        &:hover {
            background-color: transparent;
            border-color: color-var(--global__colors__white);
        }
        @include media-breakpoint-down(sm) {
            padding: var(--global__sizing__text-spacing--half);
            font-size: 10px;
        }
    }
}
