.modal {
    input {
        &[type="submit"] {
            border: 1px solid color-var(--global__colors__gray-darker);
            background-color: color-var(--global__colors__white);
            color: color-var(--global__colors__black);

            &:hover {
                background-color: color-var(--global__colors__gray-medium);
            }
        }
    }
}
