.nav-menu {
    &__list {
        font-size: $font-size-small;
        text-transform: uppercase;
        font-weight: 700;
    }
    &--opened {
        .nav-menu {
            &__list {
                font-size: 24px;
            }
            &__item {
                color: color-var(--global__colors__black);
            }
            &__toggle-bar {
                &:before,
                &:after {
                    background-color: color-var(--global__colors__black);
                }
            }
        }
    }
    &__item {
        color: color-var(--global__colors__white);
        > a {
            padding: 0 var(--global__sizing__text-spacing--default);
            &:hover {
                color: inherit;
            }
        }
    }
    &__toggle-label {
        display: none;
    }
}
