.service-card {
    @extend %card;
    &:hover {
        background-color: #7c7c7c;
        color: color-var(--global__colors__white);

        .heading {
            color: color-var(--global__colors__primary);
        }

        .icon-use {
            color: color-var(--global__colors__primary);
        }
    }
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
}
