body {
    .wrap {
        margin-top: -158px;
    }
    .content-section:first-child {
        .content-background-image:after {
            content: "";
            background-color: rgba(4,9,30,0.7);;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .column-text.text--inverted {
            a {
                color: color-var(--global__colors__white);
            }
        }
    }
}
