$font-size-small: 12px;
$font-family-base: 'Poppins', sans-serif;

$icon-svg-size: 1em;

$si-icon-svg-size: $icon-svg-size;
$si-list-item-margin: 0 var(--global__sizing__text-spacing--default);

$modal-max-width: 768px;
