.home {
    .content-section:first-child {
        &:not(.content-section--has-bg) {
            margin-top: 0;
        }
        &.content-section--width-full {
            .container-fluid {
                padding: 0;
            }
        }
        .vc-content-slide__inner {
            max-width: 930px;
            margin: 0 auto;
        }
    }
}
