.text {
    &--inverted {
        color: color-var(--global__colors__white);
    }
}

%list--inline {
    @include list-unstyled;

    > li {
        display: inline-block;
        padding-left: var(--block-text__lists__item-inline-spacing-horizontal);
        padding-right: var(--block-text__lists__item-inline-spacing-horizontal);

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.vertical-line {
    width: 1px;
    height: 35px;
    background: color-var(--global__colors__white);
    border: none;
    margin-bottom: var(--global__sizing__text-spacing--half);
}
